[2019-12-22 18:51] bravo-kernel opened #2 "Add missing front matter for keywords and description"
Currently, the website pages/markdown files are missing front matter variables `description` and `keywords` which will be used as html meta tags.

Both variables should be added so the markdown looks similar to:

[code]

[2019-12-22 19:01] bravo-kernel opened #3 "Replace wiki-links with valid markdown links"
The website pages currently contain a lot of migrated links in the following non-markdown-compatible (wiki-specific) format:

[code]
These should all be updated to use valid markdown links similar to:

[code]

[2019-12-22 19:05] bravo-kernel opened #4 "Add Algolia DocSearch"
Once the website is live we will:

1. need to apply for Algolia fully indexed search
2. activate the search within Docusaurus

[More information on Algolia DocSearch](https://community.algolia.com/docsearch/)

[2019-12-22 19:25] bravo-kernel opened #5 "Update landing page slogans"
These three slogans are still Docusaurus defaults and need to be updated.

Code found in `src/pages/index.js`

![image](https://user-images.githubusercontent.com/230500/71326288-1e2ddc00-24f9-11ea-9de8-efa8e2c94a5b.png)

[2019-12-22 19:28] bravo-kernel opened #6 "Replace svg logo"
- current default logo found in `src/static/img/logo.svg`
- related code in `docusaurus.config`

[2019-12-22 19:37] bravo-kernel opened #7 "Implement mechanism to keep auto-generated Command Reference in-sync"
All pages in the `Command Reference` are auto-generated using the [Alt3.Docusaurus.Powershell](https://github.com/alt3/Docusaurus.Powershell) module.

Because it uses the Get-Help documentation produced by Pester as input, it is important to implement some sort of mechanism to keep the pages in-sync with the Pester module releases. One idea talked about creating some sort of "webhook" that trigger

[2019-12-22 19:53] bravo-kernel opened #8 "Fix Get-Help links (in the Pester source files)"
The auto-generated Command Reference pages use the Get-Help information produced by Pester. PlatyPS is used to make the first conversion to markdown, Alt3.Docusaurus.Powershell then enriches the markdown so it becomes compatible with Docusaurus.

The Pester sources may contain Get-Help `.LINK` sections which are converted to `External Links` as shown below:

![image](https://user-images.githubuser

[2019-12-22 20:21] bravo-kernel opened #9 "Fix multi-line code examples"
The Command Reference pages are not displaying multi-line examples correctly as can be seen in this example:

![image](https://user-images.githubusercontent.com/230500/71326861-d9a63e80-2500-11ea-9408-93879ecb15e9.png)

## Info

1. This issue is NOT caused by this repo
2. Cause and additional information can be found at https://github.com/alt3/Docusaurus.Powershell/issues/14
3. Could be be solved

[2019-12-29 17:57] bravo-kernel commented on #9
This have been solved by implementing `Code Fence Detection`:

- implemented in [this PR](https://github.com/alt3/Docusaurus.Powershell/pull/17)
- released as [Alt3.Docusaurus.Powershell 1.0.9](https://github.com/alt3/Docusaurus.Powershell/releases/tag/1.0.9)
- end-user [usage instructions](https://docusaurus-powershell.netlify.com/docs/faq/multi-line-examples)
- [detailed technical desription](ht

[2019-12-29 18:00] bravo-kernel commented on #9
What needs to be done next is updating the Pester Get-Help examples with code fencing, for which @nohwnd prefers to use the ** \`\`\`ps** opening moniker. After that the `Command Reference` pages should be fully automatable.

[2019-12-29 18:00] #9 closed

[2020-01-04 18:27] github-actions[bot] opened #17 "Found Broken Links"
## Found Broken Links

Please review and fix.

[2020-01-04 18:29] bravo-kernel commented on #17
Perfect, issues automatically created as desired, message needs to be enriched to something more useful.

[2020-01-04 18:29] #17 closed

[2020-01-04 19:12] github-actions[bot] opened #18 "Website Contains Broken Links"
The Broken Link Checker found :coffin: links on the pester.dev website.

[View results]()

[2020-01-04 19:16] bravo-kernel commented on #18
Closing, only needs commit SHA to link to correct results.

[2020-01-04 19:16] #18 closed

[2020-01-04 19:24] github-actions[bot] opened #19 "Website Contains Broken Links"
The Broken Link Checker found :coffin: links on the pester.dev website.

[View results](https://github.com/pester/docs/commit/a723d948e1adcc0a0fe82b557e26e94c5d936e8d//checks)

[2020-01-04 19:44] bravo-kernel commented on #19
Closing as issues are now created correctly, action changed to run monthly

[2020-01-04 19:44] #19 closed

[2020-01-04 22:10] bravo-kernel commented on #7
Do not feel obliged @https://github.com/glennsarti but since you were in the original discussion I thought I'd send you an update. This can be started.

[2020-01-04 22:11] bravo-kernel commented on #7
Do not feel obliged @glennsarti but since you were in the original discussion I thought I'd send you an update. This can be started.

[2020-01-06 01:53] glennsarti commented on #7
Thanks @bravo-kernel

[2020-01-06 01:55] glennsarti commented on #7
Actually, that raised a question about which versions should be available. @nohwnd

e.g. Latest 4.x and 5.x ?

[2020-01-06 06:32] bravo-kernel commented on #7
Consensus was to start with v4 first. We will then use that version to clone a v5 later in the process.

[2020-01-06 06:49] glennsarti commented on #7
👍 Fair enough.

[2020-01-06 06:56] bravo-kernel commented on #7
Please be aware that you have to use the latest Pester (master) sources or the command reference will not render properly. If you have any questions please let me know.

[2020-01-07 20:10] OranguTech commented on #5
Came here to log the exact same bug.

[2020-01-07 20:30] bravo-kernel commented on #5
The Pester website welcomes/needs all help it can get. Feel free to PR a proposition, feedback should follow soon 👍🏼

[2020-01-18 12:08] deejaygraham commented on #3
Volunteer! if no one else has

[2020-01-18 12:14] bravo-kernel commented on #3
@deejaygraham thanks, that would be an awesome contribution ❤️

[2020-01-18 12:43] bravo-kernel commented on #5
## This is not a bug

It's actually a request for help

[2020-01-18 12:45] bravo-kernel commented on #7
@glennsarti not trying to rush you here but are you intending to implement this? If so I will assign the ticket to you (to prevent double work)

[2020-01-20 12:46] deejaygraham commented on #3
How do you recommend we do pull request for this change? Fork or create a branch?

[2020-01-20 14:03] bravo-kernel commented on #3
@deejaygraham I would say the "common" PR approach so

1. fork
2. check out a feature branch
3. commit and push
4. create PR

[2020-01-20 17:49] bravo-kernel commented on #3
Closing as PR #24 is now open

[2020-01-20 17:49] #3 closed

[2020-01-21 00:37] glennsarti commented on #7
For now I can't due to workload and family stuff.  Up for grabs!

[2020-01-21 00:39] glennsarti commented on #7
One comment.  Because the intent here is to raise commits/PRs for docs updates, there needs to be a service account/bot account within github so it can make those commits.  To the best of my knowledge there is no such account and that should be maintained, probably, by @nohwnd

[2020-01-21 09:00] deejaygraham commented on #8
I can pick this one up.

[2020-01-21 09:05] bravo-kernel commented on #8
Cool, that would be awesome. Please keep a couple of things in mind.

- all links in the source should probably be a direct link to the corresponding pester.dev website (e.g. replacce `It` with the full link (or the website links will not work)
- we should probably make this a co-op. You make the changes in Pester repository, I use your Pester PR branch to generate a PR in this repository with the

[2020-01-21 10:33] deejaygraham commented on #8
Yes, think so.

[2020-01-22 20:15] deejaygraham commented on #8
Broke the blocks of links into separate chunks yesterday but before I go any further, I want to check about the actual link text. I get that some are using the old url and the wrong page name that can be fixed. I am more wondering about whether each command should have an online link to the docs . For example I think this is correct (with comments afterwards):

Context

...

.LINK
https://pester.d

[2020-01-22 20:17] bravo-kernel commented on #8
I guess @nohwnd should check your Pester PR, see what he thinks.

[2020-01-22 20:21] bravo-kernel commented on #8
If you are for example suggesting we should leave ‘about_Should’ exactly that text then I wonder what happens inside Docusaurus. Does it produce a valid URL by itself? If not, changing it to full url should be the best solution IMO but that’s personal. I prefer to see full links when running Get-Help but... perhaps other systems/tools expect this format.

Apologies for the long text, was a bit of

[2020-01-22 22:16] deejaygraham commented on #8
No, no problem. I'll make a PR as it is with fixed links etc. but leave the rest alone for now and we can see what opinions come out.

[2020-01-23 07:20] bravo-kernel commented on #8
Aha, I think I understand now. I will generate a PR here using your Pester PR somewhere this Friday or weekend. That way we can reason about/view the outcome. Thanks again!

[2020-01-23 15:47] deejaygraham commented on #8
https://github.com/pester/Pester/pull/1432

Added a note about what the correct format is for all .LINK entries.

[2020-01-24 15:05] #8 closed

[2020-01-30 14:41] deejaygraham commented on #5
Volunteer!

[2020-01-30 14:42] bravo-kernel commented on #5
Go for it 👍

[2020-01-30 14:43] bravo-kernel commented on #5
Perhaps not spent **too** much time thinking about it, the landing page might change once the theme lands.

[2020-01-30 14:44] deejaygraham commented on #5
Yeah, I'll just put something vaguely sensible in there :)

[2020-02-01 01:07] github-actions[bot] opened #26 "Website Contains Broken Links"
The Broken Link Checker found :coffin: links on the pester.dev website.

[View results](https://github.com/pester/docs/commit/4d7a81cad8ea2f63e504501201b1608c3e65d5d8//checks)

[2020-02-01 09:26] bravo-kernel commented on #26
Closing as the results contain false positives, awaits D2 release, then review broken link checker.

[2020-02-01 09:28] #26 closed

[2020-02-01 09:56] bravo-kernel opened #27 "Remove duplicate references on same page"
Pages contains multiple links to the same page which does not really make sense and makes reading the docs more difficult/distracting.

An example: `Invoke-Pester` is referenced as a link on the quick-start page multiple times.

[2020-02-01 11:44] bravo-kernel opened #28 "Theme Specifications"
# IMPORTANT

**Please do NOT provide feedback here** but instead on the theme preview PR at #29.

----

# Theme specifications

https://v2.docusaurus.io/docs/styling-layout

## General

**Most important**: similar to https://powershellgallery.com, at least applied to:

- [x] color palette
- [x] typography (UNSURE, psgallery fonts seem small, perhaps test-run)
- [x] links
- [x] navbar (blue `#00488

[2020-02-01 11:45] bravo-kernel commented on #6
Closing in favor of #28

[2020-02-01 11:45] #6 closed

[2020-02-01 12:01] bravo-kernel commented on #5
@deejaygraham I created a ticket with specifications for the theme. The 3 slogans mentioned here correlate to the landing page "sub heros" mentioned in the theme specs. Perhaps we can come up with something that can be used for both (quick win here, well prepared there).

[2020-02-02 09:37] nohwnd commented on #28
Looks good, I am trying to get the svg logo or the .ai sources.

[2020-02-02 15:32] lex111 commented on #28
I take care about this.

[2020-02-02 15:35] bravo-kernel commented on #28
@lex111 awesome, the bounty is yours on completion. I do not want to tell you how to do your job but I personally think the preferred order for us (so we can follow and provide feedback) would be:

1. update navbar
2. clone landing page
3. update hero color

That way we have something to look at. But.. you are the expert so feel free to do any other approach.

[2020-02-03 13:38] lex111 commented on #28
@bravo-kernel could you please answer a few questions?
- Is there the Pester logo with a transparent background? On all the pictures it is with blue gradient, it would be nice to have only a logo with no background in good quality.
- Do you want to see the color navbar #004880 in two modes (light and dark)? Or is light blue (eg #0083e4) for light mode, and accordingly dark blue (#004880) for dark

[2020-02-03 13:55] bravo-kernel commented on #28
- logo: we are currently searching for the pester logo source, for now please just use the existing one
- navbar: to see what we want: go to powershellgallery.com, then inspect element of the navbar, then disable the `.navbar-inverse` class. No need to switch between dark mode, no need for gradients.

    ![image](https://user-images.githubusercontent.com/230500/73658514-ba203b00-4694-11ea-9d2b-ed

[2020-02-03 16:08] lex111 commented on #28
@bravo-kernel I created a PR where there is a link to the website so that you can look at the current result.

It seems to need clarification.

[2020-02-07 12:22] nohwnd commented on #28
Here are .ai and .svg of the logo extracted from the pdf (all pdf are [available here](https://github.com/pester/Pester/tree/master/images)). This is supposedly very easy to do with AI, you just open the file and save it in another format. I don't own AI so I am just repeating what the guy said. Hopefully you can work with this.

In case you need the other logos converted let me know.

[pester-log

[2020-02-07 12:56] nohwnd commented on #28
It would be nice to customize the code highlighting theme. I see that the current theme is palenight and that there are multiple others available. Do you know if there is a good website where I can try the themes online over different programming languages to see if there is any of the built-ins that I like? My main problem with the current theme is that it uses red color for some of the tokens an

[2020-02-07 13:02] bravo-kernel commented on #28
@nohwnd I would.. clone and run the repo locally. Then you can edit the config file to play around with themes as you see fit.

[2020-02-09 11:31] bravo-kernel commented on #28
Closed through #29

[2020-02-09 11:31] #28 closed

[2020-02-09 15:43] bravo-kernel commented on #5
Addressed in #30

@deejaygraham if you still feel inspired... feel free to take the feature texts to a higher level.

[2020-02-09 15:43] #5 closed

[2020-02-13 14:26] deejaygraham commented on #5
Looks really good!

Sorry I was snowed under with work longer than I had intended, didn't mean to abandon this feature.

[2020-02-13 15:41] bravo-kernel commented on #5
No worries and no need to apologize, especially after all the work you put in earlier. ❤️

[2020-03-01 01:10] github-actions[bot] opened #35 "Website Contains Broken Links"
The Broken Link Checker found :coffin: links on the pester.dev website.

[View results](https://github.com/pester/docs/commit/9c34ade092a102feb288fbc1883dbd2678c098fc//checks)

[2020-03-01 09:00] bravo-kernel commented on #35
Ok, seems the used library is not handling the Netlify redirects properly. I'm gonna submit a PR to remove this action for now as it is giving false positives

[2020-03-01 09:00] #35 closed

[2020-03-14 10:48] bravo-kernel opened #36 "Disable Netlify PrettyUrls"
@nohwnd, I (finally) figured out how to prevent Netlify from altering the docusaurus links (which is now causing causing 301 redirects and 404 problems).

See facebook/docusaurus#2394 (comment)

Changes settings take effect immediately, After changing, try by browsing directly to e.g. https://pester.dev/docs/commands/Add-AssertionOperator (the casing should not change to lower).

[2020-03-16 07:31] nohwnd commented on #36
@bravo-kernel is there some action I need to take? Going to that link I see that the url is lowercase in the address bar.

![image](https://user-images.githubusercontent.com/5735905/76733150-8be84d80-6760-11ea-9719-3500c882316b.png)

[2020-03-16 07:42] nohwnd commented on #36
Ah found it. Is that just a weird naming on their side? Because the top checkbox says: Disable asset optimization, so unchecking it should go from doing noting at all, to doing all optimizations, minus url rewrite.

![image](https://user-images.githubusercontent.com/5735905/76733933-10879b80-6762-11ea-9334-6684b66ef8db.png)

[2020-03-16 07:43] nohwnd commented on #36
anyways, I disabled it and it works as you said :)

[2020-03-16 07:52] bravo-kernel commented on #36
Good job, now let Google index correct casing :)

[2020-03-16 07:52] #36 closed

[2020-03-20 21:23] dtrue opened #38 "Quickstart and related documenation incorrectly show . "$here$sut" instead of . "$here\$sut""
Looks like these are missing another \ escape character

. "$here$sut" instead of . "$here\$sut"

[2020-03-21 08:03] bravo-kernel commented on #38
@dtrue Did you notice the `Edit this Page` buttons at the bottom of the pages?

Feel to propose fixes where neccessary.

[2020-03-22 09:34] nohwnd commented on #38
@bravo-kernel I think this is code rendering issue rather than content issue. The MD contains `"$here\$sut"` correctly. Maybe there is some option that we need to disable?

[2020-03-22 10:34] bravo-kernel commented on #38
@nohwnd you might be correct. I have asked for confirmation because the behavior is not consistent when testing against the lib used to generate the D2 code blocks.

See https://codesandbox.io/s/prism-react-renderer-example-o9gdb:

- select `basic.js`
- L12 and L13 both render incorrectly
- However, D2 does render L13 correctly

[2020-03-22 12:41] bravo-kernel commented on #38
Created D2 ticket https://github.com/facebook/docusaurus/issues/2441

Root cause seems to be found in https://github.com/mdx-js/mdx/issues/902

[2020-04-01 01:09] github-actions[bot] opened #40 "Website Contains Broken Links"
The Broken Link Checker found :coffin: links on the pester.dev website.

[View results](https://github.com/pester/docs/commit/cd3e4ef87dc79c6d0c68831184a79d1d9f3154c2//checks)

[2020-04-01 07:53] bravo-kernel commented on #40
@nohwnd now that the URL casing is fixed these hygiene checks finally work as expected.

To see really broken links:
- click on above link
- uncollapse ` Run Broken Links Checker`
- then use top-right search box to search for `─BROKEN─`

You will see the links that need your analysis.

[2020-04-01 10:13] #38 closed

[2020-04-01 11:41] nohwnd commented on #38
When you said that the community around docusaurus will help us solve bugs you were not lying 🙂

[2020-04-01 11:51] bravo-kernel commented on #38
;)

[2020-04-01 12:19] nohwnd commented on #40
Perfect, will attend to this once I have some time :)

[2020-04-16 15:12] jahnavi175 opened #42 "Unable to install new version of pester using Install-Module -> https://pester.dev/docs/introduction/installation"
Hi Team,
As mentioned in **https://pester.dev/docs/introduction/installation** , the deletion of existing version needs to be done to install the new version. The code for deleting the current one works but the installation fails. There is some fault in the code with pester. **Install-Module Pester -Force -SkipPublisherCheck** used to work earlier, also the **update-module pester**, almost a month

[2020-04-16 16:10] nohwnd commented on #42
Could you try updating your PowershellGet module?

[2020-04-16 16:47] jahnavi175 commented on #42
Hi @nohwnd I tried that also, it gives me the error mentioned earlier.
Please have a look at the error

![updatepsget](https://user-images.githubusercontent.com/46793372/79483574-1954e100-8030-11ea-83e0-d02a1331e9e9.PNG)

[2020-04-16 18:58] vexx32 commented on #42
@jahnavi175 yeah you'll need to do an `Install-Module PowerShellGet -Force` if I recall correctly?

[2020-04-16 19:14] jahnavi175 commented on #42
Hi @vexx32 . I need to update from pester 3.4.0 to 4.10.1. But its actually not happening. I tried adding -Force parameter also but of no use.

Once have a look at this
![impf](https://user-images.githubusercontent.com/46793372/79496948-88d4cb80-8044-11ea-8b3a-15588ce669a8.PNG)

[2020-04-16 19:17] vexx32 commented on #42
I think that's a TLS issue?

Try running this and then retrying the install:
[code]

[2020-04-16 19:39] jahnavi175 commented on #42
@vexx32
![neww](https://user-images.githubusercontent.com/46793372/79498901-b66f4400-8047-11ea-96e5-78586f392149.PNG)

[2020-04-16 20:26] vexx32 commented on #42
Yep, just need to pass an extra flag or two to install-module.

[code]

The certs for the current version differ because Microsoft published and signed the in-box version of Pester, but they're not doing that anymore. 🙂

[2020-04-16 20:31] jahnavi175 commented on #42
@vexx32  whats the main reason and logic behind it can you pls explain why it worked after this
[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor [System.Net.SecurityProtocol]::Tls12

[2020-04-16 20:33] jahnavi175 commented on #42
Yess it worked...**Thanks  a lot.**.!!

[2020-04-16 20:49] vexx32 commented on #42
@jahnavi175 depending on your OS and PowerShell versions, TLS 1.2 may not be used by default for Install-Module.

Last... month...ish? The PS folks updated the PowerShell Gallery repository to require TLS 1.2. I think they're working on relaxing that a little, so they still support TLS 1.2 for folks who are using it, but don't require it. But clearly they haven't got that sorted yet.

That just te

[2020-04-17 07:48] nohwnd commented on #42
@vexx32 would you consider updating the docs with this, please?

[2020-04-17 07:52] nohwnd commented on #42
I don't think it ships with 2016 server anymore, and also not with 2019. The removal is not necessary if you specify -Force (and in some cases -SkipPublisherCheck, depending on the PowerShellGet version). Please consider updating that info if you update that article. Thx.

[2020-04-17 11:01] jahnavi175 commented on #42
Once Have a look at this. I have run these on my new server.
![psgetvrsn](https://user-images.githubusercontent.com/46793372/79552331-82803700-80b8-11ea-98b0-65aa37c13513.PNG)

Pester is updating to new version only when I am using this command [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12
Followed by Install-Module Pester -Force -SkipPublisherCheck

[2020-04-17 11:47] nohwnd commented on #42
Okay so it (Pester) still ships with 2016. The problem with tls is external to Pester, but it is nice to have it in docs.

[2020-04-17 11:58] vexx32 commented on #42
Yeah, I can update that. The PS folks are supposedly working on fixing the TLS issue, but it might be an issue again in future for all we know.

[2020-04-20 10:05] jahnavi175 commented on #42
Hi @nohwnd @vexx32 , As you said earlier, Microsoft have stopped signing the new versions of pester. May I know the reason why they have stopped it? Also, If I Install my Pester Forcefully  through -SkipPublisherCheck, wont that be a threat for my server using the non trusted and unsigned 3rd Party Modules ?

[2020-04-20 12:39] vexx32 commented on #42
It's not unsigned. It's just signed by a different person since the effective ownership of the module changed, that's all the warning's telling you.

Pester has always been a community module. It's popular enough that Microsoft decided they wanted to ship a version of it with Windows. To do so, they had to sign the code themselves.

[2020-04-20 12:58] nohwnd commented on #42
@jahnavi175 @vexx32 You can also look at it this way:

Most other modules are unsigned, so they give you no guarantee about the publisher, so there is no publisher to change and you get no warning.

The "risk" levels are like this, from the *most* risky:

- unsigned module
- signed module that "changed" publishers
- signed module that has a publisher

The first item on the list is an unsigned modu

[2020-04-22 11:13] jahnavi175 commented on #42
@nohwnd Can You pls let me know who is the trusted certification authority. Who is signing the Pester Latest versions i.e., above 4.0.

[2020-05-01 01:08] github-actions[bot] opened #44 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/37554e069ce31f0a8aae5087ae4f3dc2dc8f9547//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-05-27 17:28] xtqqczze opened #45 "Documentation for Pester v5 does not exist"
Now Pester v5 is released, documentation is out of date for all commands:
https://github.com/pester/Pester/releases/tag/5.0.0

[2020-05-27 18:40] OnAzureCloud9 commented on #45
Yes, I noticed that some parameters in the `Invoke-Pester` cmdlet such as `-OutputFile` are missing and I don't see it listed in the breaking changes such as the change between `-Script` and `-Path`. The [documentation online](https://pester.dev/docs/commands/Invoke-Pester) still shows the `-OutputFile` as a valid parameter so I'm assuming it's outdated.

[2020-05-27 19:24] xtqqczze commented on #45
According to the [release notes](https://github.com/pester/Pester/releases/tag/5.0.0), "documentation is out of date for all commands".

@OnAzureCloud9 If you check the release notes, you can find the answer to your question in the section: *Simple and advanced interface*.

[2020-05-27 19:29] OnAzureCloud9 commented on #45
@xtqqczze thanks for pointing out the "documentation is out of date for all commands" point as I did not see that. That makes sense since I tried the `Get-Help` cmdlet which provided almost no information. The _Simple and advanced interface_ section was useful (saw it as well after my post) but still seems to leave some things out such as how to specify the name of the output file. It seems that t

[2020-05-28 17:05] nohwnd commented on #45
I released version 5.0.1 that adds the missing parameters for backwards compatibility. https://github.com/pester/Pester/releases/tag/5.0.1

[2020-06-01 01:16] github-actions[bot] opened #46 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/37554e069ce31f0a8aae5087ae4f3dc2dc8f9547//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-07-01 01:15] github-actions[bot] opened #48 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/37554e069ce31f0a8aae5087ae4f3dc2dc8f9547//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-08-01 01:18] github-actions[bot] opened #50 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/37554e069ce31f0a8aae5087ae4f3dc2dc8f9547//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-09-01 01:26] github-actions[bot] opened #55 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/37554e069ce31f0a8aae5087ae4f3dc2dc8f9547//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-09-18 12:05] #46 closed

[2020-09-18 12:05] #48 closed

[2020-09-18 12:05] #50 closed

[2020-09-18 12:05] #55 closed

[2020-09-18 12:05] #40 closed

[2020-09-18 12:05] #44 closed

[2020-09-26 11:58] #42 closed

[2020-09-27 06:03] nohwnd commented on #42
@jahnavi175 the certification authority is DigiCert, and it is me signing the module. Yes, 4.10.1 is a stable release.

[2020-10-01 01:34] github-actions[bot] opened #63 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/b6794c1581501ff93a2f9f05db3e381fa42b1f33//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-10-01 07:56] nohwnd commented on #63
https://twitter.com/nohwnd/status/1311575266813149186 ben taylor link
https://twitter.com/nohwnd/status/1311575722025250816 pwrshel link

[2020-10-01 08:15] bravo-kernel commented on #63
Glad to see you acting on this. There is still a link somewhere that is breaking the checker (as you can see at the bottom of the log). If you find out which one it is that would help a lot. Otherwise I will try to find it myself, somewhere next week.

[2020-10-01 09:23] nohwnd commented on #63
It seems to go line by line, so I guess it is the next one in that article.

[code]
I don't see anything obviously bad about it, do you?

[2020-10-01 10:29] bravo-kernel commented on #63
Thanks for checking!

The only thing I can imagine is that the checker chokes on the 4-char domain name but who knows. It's possible to run the checker locally as well. Perhaps we can use that to eliminate/find the culprit.

[code]

[2020-10-01 11:19] nohwnd commented on #63
I thought about it as well but the one of the domains before is using 4 char domain name, and also some of them have trailing /. Will try it locally.

[2020-10-02 08:39] nohwnd commented on #63
https://github.com/stevenvachon/broken-link-checker/issues/184 Blocked by this.

[2020-10-02 08:42] bravo-kernel commented on #63
Awesome find, I will see if I can resolve it using this info. A shame this guy seems to have abonded the tool, there were not many properly working alternatives (and I have checked a LOT).

[2020-10-31 05:57] vcalatayud opened #67 "The first Pester5 Mocking example does not work"
If you copy paste the example on a ps1 file and invoke-pester it is looking for a file that does not exist. This is the example:
[code]

I think it has not been yet migrated to Pester5. These are the minimum changes I had to apply to make it work:
[code]

They are on this PR #66

Thanks for your work! :)

[2020-10-31 10:29] nohwnd commented on #67
Fixed by #66

[2020-10-31 10:29] #67 closed

[2020-11-01 01:21] github-actions[bot] opened #68 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/83f2f27b0f3242467783e15d0911c78d4f0e34c0//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-11-07 11:41] nohwnd opened #69 "Installing from sources is incorrect"
Installing from sources is incorrect for v5. It states that you can just download the Pester source and run it build it requires build. We can either:
- redirect it to downloading and extracting the psgallery nuget package
- remove that section entirely
- redirect to build instructions
- start publishing the module as zip

The first options is probably the best and I already checked that you can j

[2020-11-09 13:48] nohwnd opened #71 "Visuals TODO list"
TODO list for when we seek help from someone who can style Docusaurus:

---

Caution block that is emited when

[code]

is used in the `.mdx` has poor contrast.

^^^
Nothing wrong with code, but these blocks should probably have more contrast. Can be hard to read in light mode.

_Originally posted by @fflaten in https://github.com/pester/docs/pull/70#r519481674_

---

Switching to dark mode not al

[2020-11-13 17:46] fflaten commented on #69
What about changing it to "Install manually/offline" and suggest:
1. Download the module on a machine with internet using `Save-Module -Name Pester -Path C:\Temp`. It will save it in a versioned folder, ex `C:\Temp\Pester\5.0.4`
2. Copy the module-folder (`C:\Temp\Pester`) to the offline environment and place it in one of the locations defined in `$env:PSModulePath`
3. Profit

[2020-11-15 12:18] nohwnd commented on #69
Yeah that is like the first point I have on the list, just better. :)

[2020-11-25 08:40] simonsabin commented on #69
I agree, just point them at https://docs.microsoft.com/en-us/powershell/scripting/gallery/how-to/working-with-packages/manual-download

[2020-11-27 10:34] iRon7 opened #75 "Example 1 of Descibe doesn't correctly format"
Document: https://pester-docs.netlify.app/docs/commands/Describe

Example 1 doesn't correctly format: (probably not completely set as code):
<img width="615" alt="2020-11-27_11h12_40" src="https://user-images.githubusercontent.com/8080834/100439879-614ae480-30a4-11eb-9929-ae3c11f6e00c.png">

[2020-11-27 10:37] nohwnd commented on #75
Thanks. Will fix that in https://github.com/pester/Pester/blob/v5.0/src/functions/Describe.ps1

[2020-12-01 01:41] github-actions[bot] opened #76 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Link Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results](https://github.com/pester/docs/commit/c878e51964c1338e4fe55f86ef2bc434ad2be0d7//checks)

_Use search filter `─BROKEN─` to highlight failures_

[2020-12-06 11:15] #76 closed

[2020-12-06 11:15] #68 closed

[2020-12-06 11:16] bravo-kernel commented on #45
Closing as resolved

[2020-12-06 11:16] #45 closed

[2020-12-21 14:44] nohwnd opened #84 "Updating help automatically from latest release"
## File changes

The [generate-command-reference.ps1](https://github.com/pester/docs/blob/master/generate-command-reference.ps1) script:
  -  only generates the ` .mdx` files and the `docusaurus.sidebar.js` file found in [this docs\command directory](https://github.com/pester/docs/tree/master/docs/commands)
 - then replaces the existing content of above folder with the newly generated mdx files
 -

[2020-12-23 22:30] sewillia-msft opened #95 "Add-ShouldOperator reference docs do not specify parameter interface for Test scriptblock"
- Pester version: 5.1.0
- Function: `Add-ShouldOperator`

## General summary of the issue
The documentation for `Add-ShouldOperator` indicates that the `-Test` parameter is supposed to receive a `[ScriptBlock]` containing the assertion to be run. However, there isn't any documentation on how to pass in test/reference values, etc. etc. (either from the pipeline or via named/positional parameters).

[2021-01-04 01:04] glennsarti opened #85 "Documentation Request - adding more "Why do I test" stuff"
All,

I was thinking that perhaps I should add a version of my "Beyond Pester 101" and "Beyond Pester 102" talks into this docs repo. However before I start (as it would be a large piece of work) I'd like to make sure it would sit in the vision that the Pester team has for this Docs repo.

Does this sound like something the team would find useful?

[2021-01-04 01:04] glennsarti commented on #85
This would be long-form documentation, taken somewhat from my talks, for this specific project (Pester). Not just linking a transcript

[2021-01-04 02:39] adilio commented on #85
I, for one, would find this very useful, yes! 💯

[2021-01-04 06:25] glennsarti commented on #84
PR for release process on Pester is at https://github.com/pester/Pester/pull/1818

[2021-01-04 06:26] glennsarti commented on #84
Chose not to use GH releases as there doesn't seem to be a direct correlation between a GH release and a package being available on PS Gallery.  Unfortunately the release process for Pester is not documented so I had to "reverse engineer" from code comments and commit messages.

[2021-01-04 07:16] bravo-kernel commented on #84
This looks great @glennsarti. Thanks for making this happen ❤️

[2021-01-04 07:25] bravo-kernel commented on #84
**ps:** you are correct, there is no direct correlation between the PSGallery and Github Releases, they are just created one after the other. IMO Pester should ideally use an automated ci/cd pipeline to publish to them both, with the docs trigger rounding things up.

I'm doing something similar with auto-publishing to both here:

- https://dev.azure.com/alt3bv/Docusaurus.Powershell/_build/results?

[2021-01-04 14:53] nohwnd commented on #85
Yes definitely helpful :)

[2021-01-04 14:55] bravo-kernel commented on #85
Any suggestions on where those pages should appear (new, separate, etc)?

[2021-01-10 15:14] bravo-kernel commented on #63
@nohwnd could you please trigger the github action, this "could" be resolved

[2021-01-22 05:56] glennsarti commented on #85
Apologies for not getting back sooner....

@bravo-kernel   Right now, I'm not 100% sure.  I'm just getting my pester-docs environment setup and then I'll poke around.

[2021-01-22 06:07] glennsarti commented on #85
Judging by the current headers...

![image](https://user-images.githubusercontent.com/5819622/105452909-20450a00-5cba-11eb-9d45-d4d7c6052246.png)

It would either sit under "Additional Resources" or perhaps warrant a top level header:

"What is Software Testing?"
"Ways to test PowerShell"
"How do I test PowerShell"
"Applying Software Testing techniques with Pester"

[2021-01-27 19:10] jeffpatton1971 opened #91 "Looking for examples where the -Skip switch is used"
The only place i've been able to find -skip mentioned was in the command reference which is unhelpful. I'm interested if I can leverage this in my test cases, but I'm unclear on how I would use it, the issue where it was added https://github.com/pester/Pester/issues/1266 and suggested https://github.com/pester/Pester/issues/442 don't really talk about a working usage of it.

[2021-01-28 12:20] nohwnd commented on #91
Maybe this will help? https://github.com/pester/pester#review-your-usage-of-skip

[2021-03-04 08:22] nohwnd opened #94 "TestDrive should say clearly it setups only for the top-level block"
TestDrive docs should make it clear that test drive is setup just once for the whole top level block, no matter if it is called Describe or Context, and is not setup for every block in the top level block.

Original issue:

The documentation could be clearer about this. (It explicitly says Context block when it's actually any nested Context or Describe block.)

_Originally posted by @Axiometry in

[2021-03-04 08:33] nohwnd commented on #95
Thanks for reporting, you are right. That blogpost is great and I used it often. We should definintely document it here. Here is my talk on the topic that can be used as another source of info: https://www.youtube.com/watch?v=WYw23cGoKco&ab_channel=PowerShellConferenceEU

[2021-03-04 08:51] nohwnd commented on #84
There are 2 problems automating this.

1) I write the release docs manually, not just generate them so publishing the file manually is simpler than copying the content somewhere and then have it automatically published to github.

2) I code sign the package, so my certificate needs to be accessible to the build server, and just the build server and no-one else to keep it safe. This means I would h

[2021-03-05 12:57] bravo-kernel commented on #84
Given the small amount of Pester releases it might not be a bad idea to keep this as a manual step for now.

Simply keep publishing Pester like you always do. All done, simply trigger this action manually.

[2021-03-10 16:52] benja83 opened #97 "Legacy interface is wrong"
Some of the mapping value between legacy and v5 regarding the code coverage documentation are wrong in the following link https://github.com/pester/Pester#legacy-interface.

| Parameter                                             | Current value for Configuration Object Property            | Real value
| -------------------------------          | ---------------------------------------------------

[2021-03-11 08:17] bravo-kernel commented on #97
This should be changed in the readme of the pester repo.

That full readme will/should be ported to the docs website but activity has been slow on that area.

[2021-03-11 23:09] nohwnd commented on #97
Working on that in #98

[2021-04-07 10:31] nohwnd commented on #63
@bravo-kernel it still failed 6 days ago. So it is not resolved.

[2021-04-07 10:52] bravo-kernel commented on #63
You are correct. I am actually waiting on the [v0.8.0-alpha release](https://github.com/stevenvachon/broken-link-checker) of the checker, then fix everything at once. Looks like he is alive and developing again. I would say... just a little more patience on this one.

On another topic, if you want, I can make some time to work with you on migrating the readme to the website. As long as the intende

[2021-04-07 10:52] bravo-kernel commented on #63
If it is possible to grant me permissions to trigger the actions in this repo that would still be helpful.

[2021-04-07 10:57] nohwnd commented on #63
I was just looking at the pages and they seem to mostly be okay to merge now. The content seems to be a bit disjoint, but I would have to pour in at least two days to get it into the state I want, which I don't have at the moment. So I think we are okay to merge it.

[2021-05-08 20:41] MikeyBronowski opened #105 "Installation - chocolatey : install vs upgarde"
Under this link, shouldn't it be under "Or to update"?

[](https://pester.dev/docs/introduction/installation#chocolatey)

`choco upgrade Pester`

instead of

`choco install Pester`

?

[2021-05-10 07:42] nohwnd commented on #105
Might be, I never used choco to install pester, please PR :)

[2021-05-10 13:28] #105 closed

[2021-05-14 07:24] #27 closed

[2021-05-14 07:24] #69 closed

[2021-05-14 07:24] #91 closed

[2021-05-14 07:24] #97 closed

[2021-05-14 07:45] fflaten commented on #84
Missing the 5.2.x refresh. Got time to trigger it?

[2021-05-14 07:53] #94 closed

[2021-05-14 07:57] nohwnd commented on #84
@fflaten I did it (before you asked 🤪) https://github.com/pester/docs/pull/112

[2021-05-14 07:59] nohwnd commented on #84
Undecided on the automation from Pester side. Thanks for putting the work in, but it's making my release a bit more complicated. I think I will just get into the habit of triggering it manually.

[2021-05-23 10:48] Atreidae opened #115 "Incorrect new URL in 'Should' wiki page"
The Pester [Github Repo Wiki ](https://github.com/pester/Pester/wiki/Should)page for the Should assertion presently points to https://pester.dev/docs/usage/assertions which leads to a 404.

This link is no longer valid, it should (haha) instead, point to https://pester.dev/docs/assertions/should-command

[2021-05-23 11:46] bravo-kernel commented on #115
Thank you, page has been changed. Good catch 👍

[2021-05-23 11:46] #115 closed

[2021-05-31 07:18] nohwnd opened #118 "Rename master to main"
@bravo-kernel I'd like to rename `master` to `main` to keep up with the new naming standards. I know that I need to change it in Netlify, and there are bunch of mentions in the repo as well.

Is there anything else that I don't see?

[2021-05-31 11:06] bravo-kernel commented on #118
I think changing the `master` references in the repo + netlify should work.

[2021-06-14 06:30] fflaten opened #124 "Add Output usage-doc"
We might want to add a page showing the difference in output verbosity and the future stacktrace verbosity.

IIRC this is only mentioned quickly in VSCode + Diagnostic-level in Troubleshooting.

[2021-07-01 02:05] github-actions[bot] opened #132 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Links Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results...](https://github.com/pester/docs/commit/dfedb9da61b7b40117f8e38fa4a77d8b94d76052//checks)

------

To run locally:

[code]

[2021-07-03 09:03] bravo-kernel commented on #63
Closing in favor of #132.

- Github action now working as expected
- now using latest [broken-link-checker](https://github.com/stevenvachon/broken-link-checker)

[2021-07-03 09:03] #63 closed

[2021-07-03 12:29] bravo-kernel commented on #132
Refs https://github.com/pester/Pester/pull/2024

[2021-07-03 12:31] bravo-kernel commented on #132
Closing this issue until the next run. Cloudflare is causing 50x issues, needs investigating.

[2021-07-03 12:31] #132 closed

[2021-07-14 15:54] #95 closed

[2021-07-23 19:07] johndog opened #136 "Need guidance for how to run v4 and v5 side-by-side"
v5 is a massive breaking change.  Anyone with a sizeable body of v4 tests will not be able to migrate all at once, and may not even own the ability to migrate completely.  For migration to be possible for such people, they need to know how to run v5 for 1%, 10% or 90% of their tests, and still be able to run the remainder with v4.

Tips needed:

1. How to install both v4 and v5 side-by-side, such

[2021-08-01 02:11] github-actions[bot] opened #137 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Links Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results...](https://github.com/pester/docs/commit/1fd10df788fc1a5e7725765765abd9db0b6acbe1//checks)

------

To run locally:

[code]

[2021-08-11 10:40] robinmalik opened #140 "Cannot follow / test examples without Get-Emoji.ps1"
## Location
https://pester-docs.netlify.app/docs/usage/data-driven-tests

- Pester version: 5.2.2

## General summary of the issue

I'm trying to take a working copy of code (e.g. code from the documentation) and run this locally to test and tweak to help me understand how the data driven aspects of Pester behave (sometimes long documentation is harder to understand than getting hands on with thin

[2021-08-17 08:41] nohwnd commented on #140
Moved. I searched my computer but don't have that function.  I hope there is one that can fit all the test examples.

[2021-08-17 08:47] nohwnd commented on #140
Looks like there are different requirements in those tests, I guess the best option is to stub out different versions of the function and paste them in the docs, maybe in a collapsible block? If we can control it, I would prefer that the first such block is expanded, and the rest of the blocks are closed - this way the reader is able to notice that the function implementation is there in a collaps

[2021-08-20 08:03] bravo-kernel commented on #4
Closing as PR #143 is now open

[2021-08-20 08:03] #4 closed

[2021-09-01 02:08] github-actions[bot] opened #145 "Website Contains Broken Links"
## Website Contains Broken Links

Broken Links Checker found :coffin: links on [https://pester.dev](https://pester.dev).

[View results...](https://github.com/pester/docs/commit/36c3730832681f0a09b08a4c4ac19bb04a9776ac//checks)

------

To run locally:

[code]

[2021-09-03 12:15] #145 closed

[2021-09-03 12:16] #137 closed

[2021-10-09 03:44] Jaykul opened #148 "Why not recommend a tests folder?"
Why are the pester docs recommending a practice that almost nobody uses (not even Pester itself) of putting the test files in the source folder [next to the function file](https://pester.dev/docs/usage/file-placement-and-naming#common-convention)? I assume this recommendation comes from writing tests for scripts vs. modules, but I don't know -- I can't find anyone that does that...

By far the mos

[2021-10-12 10:20] #148 closed

[2021-11-28 13:51] Strandedpirate opened #153 "None of the quick starts work"
I must be missing something obvious. None of the quick start guides in these two locations work.

https://github.com/pester/Pester
https://pester.dev/docs/quick-start

**Output**
[code]

**Get-Planet.Tests.ps1**
[code]

[2021-11-28 13:54] Strandedpirate commented on #153
If I do what the error suggests and re-run, I get another slew of errors.

[code]

[2021-11-28 14:16] Strandedpirate commented on #153
Ok, not an issue. I figured it out. I just built a new system a few months back and kept the old hard drive in the computer. I must have installed Pester a few years back on that old drive and somehow the new windows install picked up the old module.? ¯\_(ツ)_/¯.

So basically I was running on 3.4. Powershell refused to uninstall the old module, denies that it even existed. So I just renamed the ol

[2021-11-28 14:17] #153 closed

[2021-12-13 14:53] jazzdelightsme opened #158 "Need documentation on $PesterBoundParameters and forwarding strategy"
I spent a lot of time trying to figure out how to do something pretty simple:

[code]

There are actually two things here that I think should be documented:

1. How to mock something, but still call the original something from within the mock; and
2. How to generically forward parameters to that original thing (`@PesterBoundParameters`).

While not needed for most mocks, this is a valuable techniq

[2021-12-15 22:41] fflaten commented on #158
Thanks for the issue.

You're not really faking (mocking) the function anymore, but rather creating a proxy function.

I agree this could be easier to find though. I'm just not sure if this belongs as an example [here](https://pester.dev/docs/usage/mocking#example) or simply as a Q&A discussion in pester-repo or blog post promoted [here](https://pester.dev/docs/additional-resources/articles) as an

[2021-12-16 01:36] jazzdelightsme commented on #158
IMO, of those two places, I would say that the mocking page example is the better place. Because `$PesterBoundParameters` is a bona fide Pester feature, so I wouldn't expect to only be able to learn about it from a link to a blog somewhere. And maybe also on the reference page for the `Mock` command (mentioned as a special variable available to the script block passed via the `-MockWith` parameter

[2021-12-16 08:41] fflaten commented on #158
Sorry for not being precise. I was thinking about the first part only.

`$PesterBoundParameters` was new in 5.2.0 and should definitely be mentioned in multiple places as [intended](https://github.com/pester/Pester/issues/1542#issuecomment-814954369). 👍

[2022-01-13 10:54] PingPongSet opened #159 "Missing an argument for parameter 'InFile'"
I am getting the error below pointed to `  function GetHTTPHeader ($url) `

https://pester.dev/docs/usage/mocking#mocking-a-native-application
[code]

How can I fix this?

Pester version: 5.3.1

[2022-01-13 11:34] PingPongSet opened #160 "Enabling "-Output Detailed" when clicking Run button in Visual Studio Code"
Is it possible to enable the command equivalent of "-Output Detailed" when clicking Run button in Visual Studio Code?

For example, the screenshot below, when clicking the `Run` button, it doesn't display each TestCase.

I want the result of running `Invoke-Pester -Output Detailed .\1.Tests.ps1`
![image](https://user-images.githubusercontent.com/2021414/149322515-3e4d835a-c5f9-4187-9be2-02321dfbfb

[2022-01-13 12:53] nohwnd commented on #160
There is "magical" variable $PesterPreference, that is used as the default. If you set that in your session it will take the options from there, and merge them with other options that you provide later. You can use your $Profile to set that variable, or just set it in the console manually.

[code]

[2022-01-13 12:53] #160 closed

[2022-02-10 18:09] djangofan opened #168 "Can you add Mac OSX install instructions for pester?"
Can you add Mac OSX install instructions for pester?

Here is the basic outline of how to do it:

1.  brew install powershell
2.  pwsh
3.  Find-Module pester -Repository psgallery | Install-Module -MinimumVersion 4.3.1 -Force -SkipPublisherCheck -Scope CurrentUser
4.   Import-Module Pester -PassThru
5.   Invoke-Pester .\infrastructure_tests\buildValidation.Tests.ps1

[2022-02-10 20:22] fflaten commented on #168
Thanks for the suggestion.

I don't have access to a Mac, but `Install-Module -Name Pester` should suffice. Could you help me confirm?

If so, then it's covered in the [quick start](https://pester.dev/docs/quick-start#installing-pester).

PowerShell is a prereq. and out-of-scope I believe. No need for Pester if you don't already have PowerShell, right? 😄

We could add Mac+Unix to https://pester.de

[2022-02-10 21:25] djangofan commented on #168
The answer , in retrospect is obvious, but it could help adoption of Pester, if Mac/Linux users find this information easy to locate.

[2022-02-19 01:31] asears commented on #140
Giraffe and apple are missing, but here's an older Emojis example. 😊

https://www.powershellgallery.com/packages/Emojis/0.1

[2022-03-18 14:55] sHooPmyWooP opened #173 "BeforeDiscovery"
Please add BeforeDiscovery to the listing "Put all your code into It, BeforeAll, BeforeEach, AfterAll or AfterEach." on this page: https://pester-docs.netlify.app/docs/migrations/v4-to-v5

[2022-03-18 15:05] bravo-kernel commented on #173
Feel free to PR.

[2022-03-18 17:04] fflaten commented on #173
Thanks for the input.

Using BeforeDiscovery is only a way to acknowledge that the wrapped code has a "good reason" to be placed outside the other blocks. It effectively runs the same, during Discovery.

BeforeDiscovery didn't exist in early v5 versions when this guide was written. Should probably rephrase some of the text in that intro and the same at https://pester-docs.netlify.app/docs/usage/di

[2022-04-20 12:22] nohwnd commented on #168
Note to self: Also update windows versions on that installation page.

[2022-04-21 07:17] nohwnd opened #181 "Example of asserting expected exception was thrown"
Move the changes in the merged PR to the actual source of the help:

https://github.com/pester/docs/pull/172#issue-1171467434

This is command reference (generated docs from source). Needs to be added [here](https://github.com/pester/Pester/blob/84e14c836707c21ba442b6a7312f46150ce9b4ea/src/functions/assertions/Should.ps1#L104-L108) to avoid being lost the next time we generate this page.

@robhale

[2022-05-01 15:43] fflaten commented on #159
Sorry for the late response. I can't reproduce this.
The sample above without modifications works fine for me in 5.3.1 and newer.

[2022-05-03 09:19] #158 closed

[2022-05-03 12:55] #181 closed

[2022-05-11 07:28] #124 closed

[2022-06-05 18:10] fflaten opened #190 "Codeblocks missing dark mode"
Codeblocks are not respecting darkmode.

**Solution**: Need to specify a prism-theme in `darkTheme` setting. See https://docusaurus.io/docs/api/themes/configuration#theme

[2022-06-06 20:03] fflaten opened #191 "Search engines show netlify URL"
Google etc. show the netlify URL and not pester.dev when returning a docs-page as results.
Looks like pester.dev is mostly used for the main page.

![image](https://user-images.githubusercontent.com/3436158/172238876-32ac891c-d840-41bf-8168-adece5acc491.png)

![image](https://user-images.githubusercontent.com/3436158/172238916-26cd2bf0-8344-4f67-8aff-e63aefe28b3b.png)

[2022-06-06 20:12] fflaten commented on #191
See this answer. Looks like we need a _headers file to fix it for `https://pester-docs.netlify.app/*`.
https://answers.netlify.com/t/prevent-google-from-indexing-netlify-url/18765/2

PR deploys already set to  X-Robots-Tag header, but prod deploy doesn't.

Is this something we add here in repo or is it set in netlify console?

[2022-06-06 20:23] fflaten commented on #191
The canonical links in html header also use netlify domain which might be the reason it's preferred for the subpages. Because of this?
https://github.com/pester/docs/blob/0928828ef08f2f135d00973f24ed1f04b7a7ea2e/docusaurus.config.js#L8

[2022-06-08 15:56] fflaten commented on #191
`Website`? Where would I place something to be in root of publish directory? The previews already have mandatory noindex robots-header so can't verify it without merge.

[2022-06-08 16:55] bravo-kernel commented on #191
My suggestion was basically: make any changes you like, then check the **local website** to see if things match your expectations. If they do, submit the PR to generate the preview.

No offense, you already know but to run the website locally:

[code]

[2022-06-08 18:49] fflaten commented on #191
None taken 🙂

Never looked through the build output when running it locally. Also, wasn't sure if there were any additional deployment scripts moving files etc in netlify.

Will submit a PR.

[2022-06-10 11:30] #191 closed

[2022-06-10 11:56] fflaten commented on #71
No complaints from me anymore. Either fixed in newer docusaurus build or when I replaced a 10 years old monitor 😅

Do you remember what? No longer an issue? Codeblocks will be getting dark mode in #195

Can't reproduce this naymore. Turns blue in light and dark
![image](https://user-images.githubusercontent.com/3436158/173058609-58ba1a15-5a3f-42b4-b9b5-d7810a9fe1a2.png)

Close?

[2022-06-10 12:00] #190 closed

[2022-06-10 12:10] bravo-kernel commented on #71
I think @nohwnd means these caution blocks which are using the [default admonition colors](https://docusaurus.io/docs/markdown-features/admonitions) (and look good to me).

Considering this ticket is almost two years old and things have changed a lot since then I think we can safely close this one, it can always be re-opened.

![image](https://user-images.githubusercontent.com/230500/173060234-4db

[2022-06-10 12:10] #71 closed

[2022-06-10 12:32] bravo-kernel commented on #2
Of course not needed for the auto-generated files in `repo/docs/commands`. I see I already auto-generate those fields.

https://raw.githubusercontent.com/pester/docs/master/docs/commands/Add-ShouldOperator.mdx

[2022-06-10 18:58] fflaten opened #196 "Code Coverage page is outdated"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Link to page

https://pester.dev/docs/usage/code-coverage

### What is the issue?

Docs for using code coverage is not updated for Pester 5 yet.

Examples:
- Mentions unique PS3+ requirement
- References Pester 3.4.0 as not supported for a feature
-

[2022-06-10 19:05] fflaten opened #197 "Shoutout/Intro for Pester Test Adapter for VSCode"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Summary of the request

Should update https://pester.dev/docs/usage/vscode with a section for the official VSCode (preview-)extension for Pester, https://github.com/pester/vscode-adapter

### Suggested section

Usage

[2022-06-10 19:09] fflaten commented on #197
What do you think @JustinGrote ? Just mention it with a link to the marketplace and a bulleted list of notable features they should check out? 🙂

[2022-06-10 19:15] JustinGrote commented on #197
It's still kind of unstable so as long as it's clear it's still in preview I'm OK with it.

[2022-06-19 08:19] fflaten opened #200 "Pester.bat reference in Test Results"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Link to page

https://pester.dev/docs/usage/test-results#using-binpesterbat

### What is the issue?

v5 Test Results docs reference bat-file. Something in TeamCity specifically or the v3/v4 pester.bat that was should remove?

### Suggested fix?

_No

[2022-06-19 09:18] bravo-kernel commented on #200
@nohwnd please advise

[2022-06-20 22:55] ggorlen opened #202 "docs/assertions/should-command has a broken link to docs/assertions/assertions"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Link to page

https://pester.dev/docs/assertions/should-command

### What is the issue?

docs/assertions/should-command has a broken link to docs/assertions/assertions

### Suggested fix?

The link should be updated to https://pester.dev/docs/asserti

[2022-06-21 06:48] #202 closed

[2022-06-24 19:08] #140 closed

[2022-06-25 09:31] #159 closed

[2022-07-01 17:39] Veretax commented on #196
Is this related to why when I run a basic code coverage of one test to one file I no longer get the missed methods listing that this page shows?

[2022-07-01 22:03] fflaten opened #214 "Update Output-docs with RenderMode-option"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Summary of the request

Need to add section about new Output.RenderMode option when released.
Related pester/pester#2199

### Suggested section

Usage

[2022-07-02 06:46] fflaten commented on #196
Code Coverage will report functions, but the samples and parameters to configure CodeCoverage on that page isn't valid for Pester 5. Try:

CoverageTest.ps1:
[code]

CoverageTest.Tests.ps1:
[code]

Then invoke like this:
[code]

[2022-07-02 08:35] bravo-kernel commented on #196
That's awesome man 👍

[2022-07-02 09:56] bravo-kernel commented on #2
@fflaten can this one be closed now? The canonical did its job as well btw, good job!

[2022-07-02 09:59] bravo-kernel commented on #7
Closing for two reasons:

1. We now have a very effictive script to actualize the docs: https://github.com/pester/docs/pull/213#issue-1291317533
2. We came to the conclusion that manual updating would be preferred

[2022-07-02 09:59] #7 closed

[2022-07-02 10:02] bravo-kernel commented on #84
Closing as motivated here https://github.com/pester/docs/issues/7#issuecomment-1172872045

[2022-07-02 10:02] #84 closed

[2022-07-02 11:29] Veretax commented on #196
I'm going to book mark this and try it when I can get back to my rig.
Verbosity is probably the option I was struggling to find.

Tim Western
370 Robin Hood Dr
Christiansburg, VA 24073

Cell: (540) 315-0178

On Sat, Jul 2, 2022 at 2:46 AM Frode Flaten ***@***.***>
wrote:

[2022-07-02 13:18] fflaten commented on #2
Yes, but it doesn't look like the descriptions have been indexed yet on Google.

[2022-07-02 13:20] bravo-kernel commented on #2
Great, I will close. As far as Google is concerned, I am getting used to wait for weeks 🤦‍♀️

[2022-07-02 13:20] #2 closed

[2022-07-02 13:22] fflaten commented on #7
👍 At least until GitHub supports repo-scoped PAT. Then we could trigger workflow on release in Pester-repo which could clone, build and generate docs.

[2022-07-02 13:25] bravo-kernel commented on #7
Yeah that would be cool

[2022-07-03 23:28] fflaten commented on #7
Just realized we can already solve the PAT-issue/risk with a private GitHub app in the Pester-org. It just has to be installed in the docs-repo with `actions:write`-permission, then we can use the app's private key in a simple "on published release" (exclude prerelease) workflow in Pester-repo. Example: https://github.com/fflaten/githubsandbox/runs/7171991452?check_suite_focus=true

Release tag_na

[2022-07-05 12:02] Veretax commented on #196
Okay, finally figured out what was happening on my end.

When I had the paths setup, I think it was looking in the wrong folders all along.  I had the relative paths there, but it thought they were in C:\ by referencing the source and test folders specifically down to c drive I started getting the feedback this way.

Thank you.

[2022-08-02 17:07] fflaten opened #220 "Update to Docusaurus 2.0.X"
Docusaurus 2 is now stable. Should upgrade docs to latest version, currently 2.0.1

[2022-08-02 17:29] bravo-kernel commented on #220
Yes of course :shipit:

[2022-08-02 18:12] fflaten commented on #136
I agree there could be a few tips in ex. the migration-guide. Not sure what though as it all depends on workflow, project folder-structure etc. Feel free to submit a PR.

Initial thoughts:
- V4 and v5 should be executed in different powershell-processes. Jobs could be problematic due to a stack size-limitation in PowerShell, so would use another process if possible.
- `Import-Module Pester -Maximu

[2022-08-02 22:06] fflaten opened #221 "Low contrast ratio"
Certain colors should be changed to have a better contrast ratio for readability and accessibility.
Some of these are shown by Lighthose in Chromium.

- **Dark mode:** Active link
  ![image](https://user-images.githubusercontent.com/3436158/182478221-4c6b5d3f-48d4-45c9-9816-7f5ce3849e78.png)
- **Both:** Active section link
  ![image](https://user-images.githubusercontent.com/3436158/182478388-d2c3

[2022-08-02 22:12] fflaten opened #222 "Dark navigation-text in hamburger menu (mobile) while in light mode"
Arrows and "back to main menu" use light color in dark-mode, but dark/black text for some reason in light mode. The light mode feels out of place and is harder to read.

Dark mode (ok):
![image](https://user-images.githubusercontent.com/3436158/182482096-9b50c355-9ba9-49c4-9b1d-7fd190831946.png)

Light mode (not great):
![image](https://user-images.githubusercontent.com/3436158/182482154-840c2c49-

[2022-08-02 22:15] fflaten commented on #222
The X (close sidebar) should also be lighter in light mode.

[2022-08-02 22:19] fflaten opened #223 "Extend header and footer into safe-area"
Mobile phones without physical navigation-buttons have a safe-area where websites don't show content by default to avoid conflict with "swipe for home screen" gesture, camera location ++

In landscape, the footer and header background-color (not content, just padding) should be extended into this area.

Current behavior:
![image](https://user-images.githubusercontent.com/3436158/182483155-ff6834f6

[2022-08-02 22:31] fflaten opened #224 "Horizontal overflow in migration guide"
The legacy interface config mapping-table in https://pester.dev/docs/migrations/v4-to-v5#legacy-interface overflows horizontally on mobile devices.

![image](https://user-images.githubusercontent.com/3436158/182483589-1c825ecb-b571-431b-85bd-5ac4f29a48c0.png)

Not sure if or how we'd like to fix it. Replace the tables with list or [tabs](https://docusaurus.io/docs/markdown-features/tabs)?

[2022-08-02 22:35] fflaten opened #225 "Meta theme-color tag not defined"
Should we specify theme-color meta-tag to show Pester-blue color in the navigation on mobile devices (and latest Safari in MacOS?)?

Light mode shows it but dark mode doesn't, probably because it defines a specific background-color in html/body.

Setting the tag will make it consistent.

![light mode](https://user-images.githubusercontent.com/3436158/182485065-aba79d1c-3914-4b13-b3e3-413ff100d7f9.

[2022-08-02 22:41] fflaten commented on #222
Also the sun-icon in light mode on desktop.
Should be light when not hovering (then the white circle appears, so icon has to be dark).
![image](https://user-images.githubusercontent.com/3436158/182485472-4268df77-1958-4374-8953-61c5acd03ac9.png)
Again, in dark mode the moon is white when not hovering. Feels like something got mixed up.
![image](https://user-images.githubusercontent.com/3436158/182

[2022-08-03 07:00] bravo-kernel commented on #222
Are these issues also present in the 2.0.x version? They look like "relatively" easy CSS fixes.

[2022-08-03 07:54] fflaten commented on #222
Haven't tested yet or looked at theme source. Assuming it's just some css-variables reused too many or in the wrong places :)

[2022-08-03 08:03] bravo-kernel commented on #222
IMO anything that improves the look of the theme could instantly be submitted as a PR. If the preview looks better we will merge it.

- We use a [CSS theme override file](https://github.com/pester/docs/blob/master/src/css/custom.css) but you can see that those changes were done a very long time ago
- I am unsure if this is related but I recall some Docusaurus [release notes mentioning breaking cha

[2022-08-05 05:07] #225 closed

[2022-08-05 15:22] #220 closed

[2022-08-10 22:27] fflaten commented on #221
Related PR fixes everything above except prism-theme.

[2022-08-11 07:46] #222 closed

[2022-08-11 07:46] #224 closed

[2022-08-11 08:46] nohwnd commented on #200
Yes you are right, Pester.bat is gone, and I don't think we saw any issues around TeamCity or AppVeyor in the past few years. Maybe both of those sections can be removed?

[2022-08-11 09:07] #173 closed

[2022-08-11 09:18] fflaten commented on #200
👍 Should probably change all CI-examples to use advanced configuration since legacy set is deprecated.

Maybe also include a sample for using the result-object for custom console output. If not done already, I might look at it when NUnit3 is ready.

[2022-08-11 10:17] nohwnd commented on #200
I good first issued it, and tweeted it out.

[2022-09-03 14:46] fflaten opened #235 "Netlify build image deprecated"
[code]

[2022-09-03 15:10] bravo-kernel commented on #235
Thanks for the heads up mr. @fflaten

Pinging @nohwnd  because I am not authorized for the Pester netlify.

[2022-09-03 15:15] bravo-kernel commented on #235
Just updated https://docusaurus-powershell.netlify.app/ using the settings in last link provided above, took three minutes 💃

[2022-09-05 07:13] #223 closed

[2022-10-02 10:26] nohwnd commented on #235
I clicked some buttons it now uses Ubuntu 20.04 Focal.

[2022-10-02 10:26] nohwnd commented on #235
Let me know if that broke anything, I will try to pay more attention to mentions.

[2022-10-18 08:26] andreasbalzer opened #237 "Testing for scripts with mandatory parameter prompts"
Hi,
I'm trying to test a script with mandatory parameters. Despite supplying the parameter value, PowerShell still prompts to enter the value. I'm using Pester 5.3.3. What am I doing wrong?

Test.ps1:
`[CmdletBinding()]
Param (
    [Parameter( ValueFromPipeline=$true,
                ValueFromPipelineByPropertyName=$true,
                Mandatory=$true,
                HelpMessage="foo parameter"

[2022-10-18 19:47] fflaten commented on #237
Remove the `BeforeAll`-block. You're invoking the script without parameters.

[2022-10-28 14:11] fflaten commented on #7
Now there's also fine-grained PATs, so app no longer necessary.
See https://github.blog/changelog/2022-10-18-introducing-fine-grained-personal-access-tokens/

[2022-11-06 14:30] fflaten commented on #235
#238 worked as expected with no remaining warnings. Thanks. Closing.

[2022-11-06 14:30] #235 closed

[2022-11-10 15:01] dkontyko-dodctr opened #239 "Documentation for country of origin/TAA compliance"
### Checklist

- [X] Issue has a meaningful title
- [X] I have searched the existing issues. See [issues](https://github.com/pester/docs/issues)

### Summary of the request

Good morning, our compliance team requires proof of [TAA compliance](https://gsa.federalschedules.com/resources/taa-designated-countries/) for all software used on our network, including free and open-source software. Can you